@using JPNFinalProject.Models.ProductViewModels
@model ProductViewModel

@{
    ViewData["Title"] = "Produkter";
}

<link rel="stylesheet" href="~/css/Product/product.css" asp-append-version="true" />

<div id="leveringinfo" class="col-lg-12 row">
    <ul>
        <li>Fragt fra 10 kr</li>
        <li><span aria-hidden="true">|</span></li>
        <li>Fri Levering til Matas butik ved køb for over 249 kr</li>
        <li><span aria-hidden="true">|</span></li>
        <li>Leveringstid 1-2 hverdage</li>
        <li><span aria-hidden="true">|</span></li>
        <li>Byt gaver frem til 31. Januar 2017</li>
    </ul>
</div>

@*----Dette skal laves dynamisk, så den laver listen udfra database indholdet----*@
<div>
    <div class="col-lg-3 row">
        <div>
            <h3>Kategori</h3>
        </div>
        <div class="accordion" id="accordion">
            @foreach (var category in Model.MainCategoryList)
            {
                <div class="panel">
                    <li>
                        <h4>
                            <a id="@category.Id" data-toggle="collapse" data-parent="#accordion" href="/Product/mainCategory/@category.Name" data-target="#@category.Name">@category.Name</a>
                        </h4>
                    </li>
                    @if (Model.ActiveCategory == category.Name)
                    {
                        <div id="@category.Name" class="collapse in">
                            <ul>
                                @foreach (var subCategory in Model.SubCategoryList)
                                {
                                    if (subCategory.ParentCategory.Id == category.Id)
                                    {
                                        <li>
                                            <a href="/Product/mainCategory/@category.Name/@subCategory.Name">
                                                <span>@subCategory.Name</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div id="@category.Name" class="collapse">
                            <ul>
                                @foreach (var subCategory in Model.SubCategoryList)
                                {
                                    if (subCategory.ParentCategory.Id == category.Id)
                                    {
                                        <li>
                                            <a href="/Product/mainCategory/@category.Name/@subCategory.Name">
                                                <span>@subCategory.Name</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>

                    }

                </div>
            }
            @*<li>
                <a href="/Product/Index/dufte">
                    <h4>Dufte</h4>
                </a>
            </li>
            <li>
                <a href="/Product/Index/hudpleje">
                    <h4>Hudpleje</h4>
                </a>
            </li>
            <li>
                <h4>
                    <a id="barbering" data-toggle="collapse" href="#subCategory" >Barbering</a>
                </h4>
                <div id="subCategory" class="collapse">
                    <ul>
                        <li>
                            <a href="/Product/barbering/haarklippere">
                                <span>Hårklippere</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/barbering/skrabere">
                                <span>Skrabere</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/barbering/aftershaveogbalsam">
                                <span>Aftershave & Balsam</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/barbering/skumspritoggel">
                                <span>Skum, Sprit & Gel</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/barbering/skaegpleje">
                                <span>Skægpleje</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/barbering/barbermaskiner">
                                <span>BarberMaskiner</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/barbering/trimmere">
                                <span>Trimmere</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Product/barbering/tilbehoer">
                                <span>Tilbehør</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="/Product/Index/hårpleje">
                    <h4>Hårpleje</h4>
                </a>
            </li>
            <li>
                <a href="/Product/Index/kropoghelse">
                    <h4>Krop og Helse</h4>
                </a>
            </li>
            <li>
                <a href="/Product/Index/tilbehoer">
                    <h4>Tilbehør</h4>
                </a>
            </li>*@
        </div>
        <div class="col-lg-7">
            <button id="adjust" data-toggle="collapse" data-target="#extrasearch" class="form-control btn-info">Tilpas udvalg</button>
        </div>
        <div id="extrasearch" class="extrasearch collapse col-lg-7">
            <div>
                <h3 id="current">Aktuelt</h3>
            </div>
            <div>
                <input type="checkbox" /><label>Tilbud</label>
            </div>
            <hr />
            <div>
                <h3 id="price">Pris</h3>
            </div>
            <div>
                <input type="range" min="199" max="1399" />
            </div>
            <div>
                <label style="font-size: 10px">199 kr</label>
                <label style="font-size: 10px; float:right">1399 kr</label>
            </div>
            <hr />
            <div>
                <h3 id="labels">Mærker</h3>
            </div>
            <div>
                <input type="checkbox" /><label>BaByliss</label>
            </div>
            <div>
                <input type="checkbox" /><label>Braun</label>
            </div>
            <div>
                <input type="checkbox" /><label>Philips</label>
            </div>
            <div>
                <input type="checkbox" /><label>Remington</label>
            </div>
        </div>
    </div>
    <div class="col-lg-9 row">
        @{ Html.RenderPartial("Products", Model);}
    </div> 
</div>

<input id="message" type="text" value="" />

<select id="dropdown"></select>

<button id="h" type="button" class="btn btn-sm btn-default">Send Message</button>

@section scripts {
    <script src="~/js/Product/product.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/SignalR/jquery.signalR-2.2.0.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
        let test = $.connection.test;
        let hub = $.connection.hub;

        //hub.start().done(function () {
        //    test.server.signalRConnectionId("Admin", 1);
        //});

        //test.client.getConnectionId = function (msg) {
        //    id = msg;
        //    console.log("My id: " + id);
        //};

        hub.start();

        test.client.getAll = function (msg) {
            $("#dropdown").find("option").remove();
            $("#dropdown").append("<option>Select something</option>");
            let p = msg;
            console.log(p);
            $.each(p, function () {
                console.log("Client id: " + this.Key);
                $("#dropdown").append('<option value=' + this.Key + '>' + this.Key + '</option>');
            });
        };

        hub.start();

        var clientId;

        var message;

        $("#dropdown").change(function () {
            clientId = $("#dropdown option:selected").html();
            console.log(clientId);
            message = $("#message").val();
            console.log(message);
        });

        $("#h").click(function () {
            test.server.sendMessage(clientId, message);
        });

    </script>
}