@using JPNFinalProject.Models.ProductViewModels
@model ProductViewModel

@{
    ViewData["Title"] = "Produkter";
}

<link rel="stylesheet" href="~/css/Product/product.css" asp-append-version="true" />

<div id="leveringinfo" class="col-lg-12 row">
    <ul>
        <li>Fragt fra 10 kr</li>
        <li><span aria-hidden="true" >|</span></li>
        <li>Fri Levering til Matas butik ved køb for over 249 kr</li>
        <li><span aria-hidden="true" >|</span></li>
        <li>Leveringstid 1-2 hverdage</li>
        <li><span aria-hidden="true">|</span></li>
        <li>Byt gaver frem til 31. Januar 2017</li>
    </ul>
</div>

@*----Dette skal laves dynamisk, så den laver listen udfra database indholdet----*@
<div>
    <div class="col-lg-3 row">
        <div>
            <h3>Kategori</h3>
        </div>
        <div id="accordion">
            <ul>
                @foreach (var category in Model.MainCategoryList)
                {
                    @*if (category.ParentCategory == null)
                    {
                        <li>
                            <h4>
                                <a id="@category.Name" href="/Product/Index/@category.Name">@category.Name</a>
                            </h4>
                        </li>
                    }*@
                    //if (category.ParentCategory != null)
                    //{
                        <li>
                            <h4>
                                <a id="@category.Id" data-toggle="collapse" data-parent="#accordion" href="#@category.Name">@category.Name</a>
                            </h4>
                            <div id="@category.Name" class="collapse">
                                <ul>    
                                    @foreach (var subCategory in Model.SubCategoryList)
                                    {
                                        if (subCategory.ParentCategory.Id == category.Id)
                                        {
                                            <li>
                                                <a href="/Product/@category.Name/@subCategory.Name">
                                                    <span>@subCategory.Name</span>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                    //}
                }
                @*<li>
                    <a href="/Product/Index/dufte">
                        <h4>Dufte</h4>
                    </a>
                </li>
                <li>
                    <a href="/Product/Index/hudpleje">
                        <h4>Hudpleje</h4>
                    </a>
                </li>
                <li>
                    <h4> 
                        <a id="barbering" data-toggle="collapse" href="#subCategory" >Barbering</a>
                    </h4>
                    <div id="subCategory" class="collapse">
                        <ul>
                            <li>
                                <a href="/Product/barbering/haarklippere">
                                    <span>Hårklippere</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Product/barbering/skrabere">
                                    <span>Skrabere</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Product/barbering/aftershaveogbalsam">
                                    <span>Aftershave & Balsam</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Product/barbering/skumspritoggel">
                                    <span>Skum, Sprit & Gel</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Product/barbering/skaegpleje">
                                    <span>Skægpleje</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Product/barbering/barbermaskiner">
                                    <span>BarberMaskiner</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Product/barbering/trimmere">
                                    <span>Trimmere</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Product/barbering/tilbehoer">
                                    <span>Tilbehør</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="/Product/Index/hårpleje">
                        <h4>Hårpleje</h4>
                    </a>
                </li>
                <li>
                    <a href="/Product/Index/kropoghelse">
                        <h4>Krop og Helse</h4>
                    </a>
                </li>
                <li>
                    <a href="/Product/Index/tilbehoer">
                        <h4>Tilbehør</h4>
                    </a>
                </li>*@
            </ul>
        </div>
        <div class="col-lg-7">
            <button id="adjust" data-toggle="collapse" data-target="#extrasearch" class="form-control btn-info">Tilpas udvalg</button>
        </div>
        <div id="extrasearch" class="extrasearch collapse col-lg-7">
            <div>
                <h3 id="current">Aktuelt</h3>
            </div>
            <div>
                <input type="checkbox" /><label>Tilbud</label>
            </div>
            <hr />
            <div>
                <h3 id="price">Pris</h3>
            </div>
            <div>
                <input type="range" min="199" max="1399" />
            </div>
            <div>
                <label style="font-size: 10px">199 kr</label>
                <label style="font-size: 10px; float:right">1399 kr</label>
            </div>
            <hr />
            <div>
                <h3 id="labels">Mærker</h3>
            </div>
            <div>
                <input type="checkbox" /><label>BaByliss</label>
            </div>
            <div>
                <input type="checkbox" /><label>Braun</label>
            </div>
            <div>
                <input type="checkbox" /><label>Philips</label>
            </div>
            <div>
                <input type="checkbox" /><label>Remington</label>
            </div>
        </div>
    </div>
    <div class="col-lg-9 row">
        <div class="row">
            <div id="text">
                <text readonly="readonly">
                    Barberkost og kniv, skraber og gelé – en kær barbering har mange faconer. 
                    Uanset om du er til retro-metoden eller mere moderne værktøjer, er det vigtigt, at du bruger de rigtige redskaber. 
                    En god barbering er nemlig et must for en hver mand. Et skarpt blad, en fugtet hud og et blødgjort skæg er essentiel for din skægpleje. 
                    På matas.dk finder du flere forskellige produkter til skægpleje; fx skægbalsam, skægolie, barberblade, trimmere m.m. 
                    En god skægpleje holder dit skæg i god form. Læs også artiklen barberingsguide og få et perfekt skæg.
                </text>
            </div>
            <div>
                <h2 class="selectedheader">Hårklippere</h2>
            </div>
            <div id="sorting">
                <label>3 produkter</label>
                <label>|</label>
                <label>Sortér efter standard</label>
            </div>
        </div>
        <div>
            @foreach (var product in Model.ProductList)
            {
                <div class="product col-lg-1"></div>
                <div class="product col-lg-3">
                    <div>
                        <label id="productId" hidden="hidden">@product.Id</label>
                    </div>
                    <div id="@product.Id">
                        <img src="~/images/Product/@product.ImageSource" />
                    </div>
                    <div class="productInfo">
                        <label id="priceLabel">@product.Price</label>
                        <button id="@product.Id" class="basketbtn btn btn-default">Læg i kurv</button>
                    </div>
                    <div class="productInfo">
                        <label id="pointLabel">Køb og få @product.PointGain point</label>
                    </div>
                    <div class="productInfo">
                        <label id="descriptionLabel">@product.Name</label>
                    </div>
                </div>
            }
            </div>
        </div>
</div>

@section scripts {
    <script src="~/js/Product/product.js"></script>
}

